name: Fuzz Tests
on: [push]

permissions:
  contents: read

concurrency:
  group: test-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Checkout Repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod

    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: All Fuzz Tests
      working-directory: .
      run: |
        files=$(grep -r --include='**_test.go' --files-with-matches 'func Fuzz' .)
        for file in ${files}
        do
            funcs=$(grep -oP 'func \K(Fuzz\w*)' $file)
            for func in ${funcs}
            do
                echo "Fuzzing $func in $file"
                parentDir=$(dirname $file)
                go test $parentDir -run=$func -fuzz=$func -fuzztime=5s
            done
        done
